*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-family: Montserrat;
    background-color:#f5f7fa;
}
.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    background-color:#ffffff;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

/* -------- Sidebar container -----*/

.sidebar {
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:#1e2939;
}
.my-photo { width: 370px; }

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
}

.skills-container {
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
}

.skills-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.skills-item{
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#ff6b08;
}

.skills-text {color: #bec1c6;}


.courses-container {
    margin-bottom: 55px;
    margin-left: 17px;
}



/* --------  Main Information ----- */

.info-container {margin-bottom: 65px;}

.profession {
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.about-me-title {
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    }


.profession-title {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.company {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ff6b08;
}

.profession-period {
    margin-bottom: 0px;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8d8d8d;
}


.education-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ff6b08;
}

section {margin-bottom: 70px;}

/*-------------- Footer---------- */

.footer-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    height: 150px;
    background-color: rgb(47, 67, 94);
    border-top: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    align-items: center;
}

.footer-contacts {
    display: flex;
    flex-wrap: wrap;
justify-content: space-between;
    list-style:none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.contacts-items {
margin-right: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.space{margin-left: 5px;}

.icon {width:35px;}
.rs_icon {width:90px}

.contacts_link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
