*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-family: Montserrat;
    background-color:#f5f7fa;
}
.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    background-color:#ffffff;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:#1e2939;
}
.my-photo { width: 370px; }

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;

}
.contacts-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #737a84;
}
.contacts-link-type {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}

.tech-skills-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}
.tech-skills-container {
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
}
.tech-skill-item {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#ff6b08;
}
.tech-skill-text {color: #bec1c6;}

.soft-skills-container {
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
}

.soft-skills-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;

}
.soft-skills-item{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#ff6b08;
}

.soft-skills-text {color: #bec1c6;}

.profession {
    margin-bottom: 23px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.info-container {
    margin-bottom: 65px;

}
.about-me-title {
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    }

.courses {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #595959;
}
.tech-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.dots {
    font-weight: 100;
    color: #a8a8a8;
}

.projects-item {
    margin-left: 17px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.courses-container {
    margin-bottom: 55px;
    margin-left: 17px;
}

.profession-title {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

}

.company {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ff6b08;
}

.profession-period {
    margin-bottom: 0px;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8d8d8d;

}
.profession-divider {background-color: #000000;}

.profession-duties {
    margin-top: 14px;
    margin-bottom: 30px;

}

.profession-duties-item {
    margin-left: 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;

}


.education-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ff6b08;
}
